<div class="logo">
    <img src="images/logo/mini.png" class="icon" onclick="Redirect()" style="width: 100%" />
    <!--span class="icon fa-camera-retro"></span-->
</div>
<div class="content">
    <div class="inner">
        <h1>{{ site.title }}</h1>
        <p>
            <strong>Fotografo</strong>
        </p>
    </div>
</div>
<nav>
    <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#about">Biografia</a></li>
        <li><a href="#work">Trabajos</a></li>
        <li><a href="#contact">Contacto</a></li>
        <!--<li><a href="#elements">Elements</a></li>-->
    </ul>
</nav>
<script type="text/javascript">
    function Redirect() {
        window.location = "https://www.instagram.com/{{ site.instagram_username }}";
    }
</script>