<h2 class="major">Trabajos</h2>
<p>Mis trabajos</p>
<!--script src="//code.jquery.com/jquery-3.1.1.min.js"></script-->


{% for image in site.static_files %} {% if image.path contains 'images/photos' %} {% assign imageName = image.path %} {% assign imageURL = imageName | remove:'/images/fulls/' %} {% assign imageURL = imageURL | replace: " ", "%20" %}

<a href="{{ imageName }}" data-fancybox data-caption=""><img src="{{ imageName }}" style="width: 150px; height: 150px"></a>

{% assign imageName = imageName | remove:'/images/fulls/' %} {% assign imageName = imageName | remove:'.jpg' %} {% assign imageName = imageName | remove:'.png' %} {% endif %} {% endfor %}


<link rel="stylesheet" type="text/css" href="assets/fancybox/jquery.fancybox.css" />
<script src="assets/fancybox/jquery.fancybox.js"></script>

<script type="text/javascript">
    $("[data-fancybox]").fancybox({
        // Options will go here
    });
</script>